.card {
    width: 200px;
}

.card-img-top {
    width: 100%;
    height: 280px;
    object-fit: cover;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-body {
    width: 200px;
}

.card:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.descriptioncard {
    width: 100%;
    height: fit-content;
    margin: 10px;
}

.descriptioncard-img {
    width: 30%;
    height: auto;
    object-fit: cover;
    list-style-type: none;
    padding: 0;
    float: left;
}

.descriptioncard-body {
    width: 100%;
    height: fit-content;
    object-fit: fill;
    text-align: left;
}

.descriptioncard-title {
    width: 100%;
    height: fit-content;
    object-fit: fill;
    text-align: left;
    padding-left: 31%;
}

.descriptioncard-text {
    width: 100%;
    height: fit-content;
    object-fit: fill;
    text-align: left;
    padding-left: 31%;
}

.descriptioncard-description {
    width: 100%;
    height: fit-content;
    object-fit: fill;
    text-align: left;
    padding-left: 31%;
}

.footer {
    text-align: center;
    background-color: whitesmoke;
    color: black;
    padding-top: 11px;
    position: fixed;
    bottom: 0;
    width: 100%;
}